	<div class="prepend-1">	
		<div>
	  <label class="desc" for="service_name">Service Description:
	  	<span class="req">*</span>
	  </label>
		<%= f.text_field :name, :tabindex => 1 %>		
		</div>
		
		<%= f.hidden_field :category_id, :value  => @category.id %>
		<br/>
			<table id="stylist_levels">
			<tr>
			<th>Stylist Level</th>
			<th>Start Price</th>
			<th>End Price</th>
			</tr>
			<tr>
				<td>Beginner</td>
				<td>$ <%= f.text_field :beginner_start_price, :size => 6, :maxlength => 3, :tabindex => 2 %></td>
				<td>$ <%= f.text_field :beginner_end_price, :size => 6, :maxlength => 3, :tabindex => 3 %></td>
			</tr>
			<tr>
				<td>Intermidiate</td>
				<td>$ <%= f.text_field :intermidiate_start_price, :size => 6, :maxlength => 3, :tabindex => 4 %></td>
				<td>$ <%= f.text_field :intermidiate_end_price, :size => 6, :maxlength => 3, :tabindex => 5 %></td>
			</tr>
			<tr>
				<td>Senior</td>
				<td>$ <%= f.text_field :senior_start_price, :size => 6, :maxlength => 3, :tabindex => 6 %></td>
				<td>$ <%= f.text_field :senior_end_price, :size => 6, :maxlength => 3, :tabindex => 7 %></td>
			</tr>
		</table>
</div>