<h2 id="title" class="prepend-1">Services</h2>
<!-- tab styling -->
<%= stylesheet_link_tag "tabs" %>

<% if @categories.empty? %>
	<% unless logged_in? %>
 	<h3 class="services prepend-1"> Coming soon... </h3>
	<%- else -%>
	<div class="warning">	
		<h2>There are no services in the database</h2>
		<p>Start by creating a category for the service</p>
		<p><%= link_to "new category", new_category_path %></p>		
	</div>
	<% end -%>

<% else %>

<% content_for :tabs do %>
	<% @categories.each do |cat| %>
    <li><a id="tab<%= cat.id %>" href="#<%=h cat.name %>"><%=h cat.name.upcase %></a></li>
	
	<% content_for :panes do %>
		<div class="pane"> <!-- pane -->
		<% if cat.services.empty? %>
			<% if logged_in? %>
				<div class="warning">	
					<h4>There are no services for the selected category</h4>
					<p>
					<%= link_to image_tag("add_service.png", :size => "24x24") + " add service", new_category_service_path(cat), :title => "add service"%>
					</p>
				</div>
			<%- else -%>
			 <h3>Coming soon...</h3>
			<% end %> 
			
		<%- else -%>
		
		<table id="services_list" cellpadding="2" cellspacing="2" border="1">
			<tr>
				<th rowspan="2">Service description</th>
				<th colspan="3">Price </th>
				
				<% if logged_in? %>
				<th rowspan="2">edit</th>
				<th rowspan="2">delete</th>
				<th rowspan="2">add</th>
				<% end %>
			</tr>
			
			<tr>
				<th class="price">Stylist</th>
				<th class="price">Senior Stylist</th>
				<th class="price">Master Stylist</th>
			</tr>
			
			<%- cat.services.each do |service| -%> 		
			<tr>
				<td><%= service.name %></td>
				
				<td class="price">
					<%= service.stylist_start_price.nil? ? 'Not Set' : number_to_currency(service.stylist_start_price, :precision => 0) %> 
					-
					<% unless service.stylist_start_price.nil? %>
					<%= service.stylist_end_price.nil? ? '& up' : number_to_currency(service.stylist_end_price, :precision => 0).to_s  %> 
					<% end -%>
				</td>
					
				<td class="price">
					<%= service.senior_start_price.nil? ? 'Not Set' : number_to_currency(service.senior_start_price, :precision => 0) %>
					-
					<% unless service.senior_start_price.nil? %>
					<%= service.senior_end_price.nil? ? '& up' : number_to_currency(service.senior_end_price, :precision => 0)  %> 
					<% end -%>
				</td>
					
				<td class="price">
					<%= service.master_start_price.nil? ? 'Not Set' : number_to_currency(service.master_start_price, :precision => 0) %> 
					-
					<% unless service.master_start_price.nil? %>
					<%= service.master_end_price.nil? ? '& up' : number_to_currency(service.master_end_price, :precision => 0) %>
					<% end -%>
				</td>
								
				<% if logged_in? %>
				<td class="admin_link">
					<%= link_to image_tag("icons/layout_edit.png", :size => "24x24", :class => "edit_icon"), edit_category_service_path(cat, service), :title => "edit service" %>
				</td>
					
				<td class="admin_link"><%= link_to image_tag("icons/large_error.png", :size => "24x24"), service_path(service), 
																															:title => "remove service",
																															:confirm => 'Are you sure?', 
																															:method => :delete %>
				</td>

				<td class="admin_link">					
				<% if cat.services.last == service %>
					<%= link_to image_tag("add_service.png", :size => "24x24"), new_category_service_url(cat), :title => "add service"%> 
				<% end %>
				</td>	
				<% end %>
				
			</tr>
		<% end -%> <%# end of services per category %>
		</table>
		<% end -%> <%# end of cat.services.empty? %>
		
		</div> <!-- /pane -->
		
  
		<% if @categories.last == cat %>
			<div class="pane">
				<div class="warning">	
					<% form_for @category do |f| -%>
					<%= hidden_field_tag :services_page %>
					<%= f.label :name, "Category name" %>
					<%= f.text_field :name %>
					<%= f.submit "Create" %>
					<% end -%>
					
				</div>
			</div>
	 <% end -%>
	
	<% end -%> <%# end of category %>
		<% end -%> <%# content for panes %>
	
	<% if logged_in? %>
		<li><%= link_to image_tag("icons/add.png") + "Add Categroy", new_category_url, :title => "add category"%> </li>
  <% end %>

	<% end -%> <%# content for tabs %>

<div id="services_container" class="span-15 push-1">
	<!-- the tabs -->
	<ul id="services_tabs">
		<%= yield :tabs %>
	</ul>

	<!-- tab "panes" -->
	<div id="services_panes">
			<div class="items">
				<%= yield :panes %>
			</div> <!-- /items -->
	</div> <!-- /services_panes -->
</div> <!-- /services container -->

<% end -%>


<script>
// wait until document is fully scriptable
$(document).ready(function() {
	// select #flowplanes and make it scrollable. use circular and navigator plugins
	$("#services_panes").scrollable({size: 1}).navigator({
		navi: "#services_tabs",
		naviItem: 'a',
		activeClass: 'current'
	});
	
});
</script>