<h2 class="prepend-1">Add a new service for <%= @category.name %></h2>
<%= error_messages_for :service %>

<% form_for @service do |f| -%>
	<%= render :partial => 'form', :locals => {:f => f }%>
	<div class="prepend-1">
		<%= f.submit "Add Service" %>
		<%= link_to "go back to services", services_path %>
	</div>
<% end -%>

