<div id="editable" class="yui-skin-sam">
		<% form_for @page, :html => { :multipart => true, :method => :put } do |f| -%>
	  <%= hidden_field(:page, :title) %>
	<div>
		<%= f.label :body, "Content" %><br/>
		<%= f.text_area :body, :id => "page_editor" %>
	</div>
		<p></p>
		<%= f.label :background_picture, "Background Picture" %>
		<%= f.file_field :background_picture %>
		<%= f.submit "Save Changes" %>
		<button class="toggle_edit">Cancel</button>
		<% end -%>
		</div>