<div class="pages_wrapper">
<h2 id="title">Sechdule an Appointment</h2>
	<p><a class="prevPage left">Previous</a> 
	<a class="nextPage">Next</a></p>
	
<div id="wizard" class="scrollable">	
 <div class="items">
		<div id="select_a_service">
		<h3>	What service would you like?</h3>
	  		<% for service in @services %>
					<%= link_to service.name, "#", :class => "service_icon", "data-service" => "#{service.id}", "data-service_name" => "#{service.name}" %>
			<% end %>
			<%= hidden_field_tag :service %>
	  </div> <!-- /service -->
	 
		<div id="select_stylist">
			<h3>Select your stylist:</h3><br/>
			   <% for stylist in @stylists %>
			     <%= link_to image_tag(stylist.photo(:thumb)) + stylist.full_name, "#",
			 				 :class => "stylist_icon", "data-stylist" => "#{stylist.id}", "data-stylist_name" => "#{stylist.full_name.capitalize}" %>   
			   <% end %>
			
			 	<%= hidden_field_tag :stylist %>
		</div> <!-- /stylist -->
		
		<div id="comein">
			<h3>When do you want to come in?</h3>
	  	<span id="stylist_name"></span> is available within the following schedule: <br/>
			Please book your appointment within this time.<br/>
			<span id="schedule"></span>
			On: <%= text_field_tag :requested_date,{}, :class => "date_picker", :size => 10 %>
			<span class="req">*</span>
			at what time? <%= text_field_tag :hour, {}, :id => "hour", :maxlength => 2, :size => 1 %>	: <%= text_field_tag :minute, {}, :maxlength => 2,:id => "minute", :size => 1 %>
	  </div>
	
		<div id="your_info">
			<div id="your_info_left">
				<h3>Tell us how to reach you.</h3>
				<h4>We will call or e-mail you to confirm your appointment.</h4>
				<p>Note: We would appreciate a 24hrs notice via phone prior to your appointment for any cancellations.</p>				
			</div>
			
					<label>First Name: <span class="req"> *</span></label>
					<%= text_field_tag :first_name,{}, :id => "first_name", :size => 20 %>
				
					
					<label>Last Name: <span class="req"> *</span></label>
					<%= text_field_tag :last_name,{}, :size => 20 %>

					<label>e-mail:<span class="req"> *</span></label>
				  <%= text_field_tag :email, {}, :size => 20 %>

					<label class="male">
					    <input type="radio" id="gender_male" name="gender" value="male" />
					    Male
					</label>
					<label class="female">
					    <input type="radio" id="gender_female" name="gender" value="female" />
					    Female
					</label>
					
				<label>Day Time Phone:<span class="req"> *</span></label>
			  <%= text_field_tag :phone_number,{}, :size => 20 %></span>

				<label>Mobile Phone: </label>
				<%= text_field_tag :cell, {}, :size => 20 %>
				
				<label> First Time Client?</label>
				<%= check_box_tag :first_time %>	 
				<br/>
				
				<label>Referred by:</label>
				<%= text_field_tag :referred_by,{}, :size => 20 %>
				</div>
				
				<div id="summary">
					<h3>Your appointment summary:</h3>
					<p>
						You are coming for a 
						<span id="service_name_summary"></span>
						with
						<span id="stylist_name_summary"></span>
						on:
						<span id="date_summary"></span>
						
						at - <span id="hour_summary"></span> : <span id="minute_summary"></span> <br/>
						<%= submit_tag 'Send Request' %>
					</p>
				</div>
	</div><!-- /items -->
</div> <!-- /scrollable -->

</div>