<div class="prepend-1">
<% @bkg = @page.background_picture.url(:bkg) %>
<div id="display_content" class="contact_us">
	<h2 id="title">Contact us</h2>
	<% if @page.body.nil? %>
		<h2>Coming soon...</h2>
	<%- else -%>
	<%= @page.body  %>
	<% end -%>

<% form_tag(pages_path, :id => "contact_form") do -%>
	<%= hidden_field(:page, :title) %>
	<%= render :partial => "contact_form"  %> 
	<%= submit_tag	"contact us" %>
<% end -%>

</div> <!-- /display content-->

<% if logged_in? %>
	<%= render :partial => "shared/update_page" %>
<% end -%>
</div>