<div class="prepend-1">
<% @bkg = @page.background_picture.url(:bkg) %>
<div id="display_content" class="contact_us">
	<h2 id="title">Contact us</h2>
	<% if @page.body.nil? %>
		<h2>Coming soon...</h2>
	<%- else -%>
	<%= @page.body  %>
	<% end -%>
	<div class="warning">
		<h4 id="red">Please do not use this form to schedule an appointment.</h4>
	</div>
<% form_tag(pages_path, :id => "contact_form") do -%>
	<%= hidden_field(:page, :title) %>
	<%= render :partial => "contact_form"  %> 
	<%= submit_tag	"contact us" %>
<% end -%>

</div> <!-- /display content-->

<% if logged_in? %>
	<%= render :partial => "shared/update_page" %>
<% end -%>
</div>

<style type="text/css" media="screen">
	#red{color: #FF450D;text-align: center;}
</style>