<h2 id="title">Pages Manager</h2>

<strong>From this page you can change the background picture for all pages</strong>

<div id="manager">
	<table id="pages_manager">
  <tr>
    <th>Page title</th>
    <th>Photo</th>
		<th>Change</th>
		<th>Restore default</th>
  </tr>
<% @pages.each do |page| %>
		  <tr class="table_rows">
		    <td class="orange"><%=h page.title.capitalize %></td>
		    <td align="center">
					<% if page.background_picture_file_name.nil? %>
							Default Background Picture
					<%- else -%>
							<%= image_tag page.background_picture.url(:bkg), :size => "50x50" %>
					<% end %>
		    </td>			
				<td align="center"><%= link_to image_tag("upload_photo.jpg", :size => "48x48"), edit_page_path(page) %></td>
				<td align="center">
				<%= link_to image_tag("restore_photo.jpg", :size => "48x48"), page, :confirm => "Are you sure?", :method => :delete
		 %>		
				</td>	
		 </tr>
<% end %>
</table>
</div>
<%= will_paginate @pages %>
