<p>
  <b>Title:</b>
  <%=h @special.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @special.description %>
</p>

<p>
  <b>Start date:</b>
  <%=h @special.start_date %>
</p>

<p>
  <b>End date:</b>
  <%=h @special.end_date %>
</p>

<p>
  <b>Service:</b>
  <%=h @special.service %>
</p>

<p>
  <b>Price:</b>
  <%=h @special.price %>
</p>


<%= link_to 'Edit', edit_special_path(@special) %> |
<%= link_to 'Back', specials_path %>