	<div class="left_col left">
		<%= f.label :descrpition, "Descrpition:" %>
		<%= f.text_area :description %>
	</div>
	<div id="upload_picture_form">
		<%= f.label :title, "Title:" %>
		<%= f.text_field :title %>
		</br>
		<%= f.label :photo, "Photo:" %>
		<%= f.file_field :photo, :size => "20" %>	
		<p>
			</br>
		<%= f.submit "Add Photo" %>
		</p>
	</div>