	<p>
	<%= f.label :title, "Title:" %>
	<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :descrpition, "Description:" %>
		<%= f.text_area :description ,:id => "gallery_photo_description" %>
 	</p>
		
		<%= f.label :photo, "Photo:" %>
		<%= f.file_field :photo, :size => "20" %>	