<div id="products_menu">
	<h2 id="title">Products</h2>

	<% if @products.empty? %>
	<% unless logged_in? %>
	 <h3> Coming soon... </h3>
	<%- else -%>
	<div class="warning">	
		<h2>There are no products in the database</h2>
		<p>Start by adding a new product</p>
		<p><%= link_to "add new product", new_product_path %></p>		
	</div>
	<% end -%>
	<% else -%>
	<%= link_to image_tag("icons/add.png"), new_product_url, :title => "add product" -%>

	<!-- navigator --> 
	<div class="navi"></div> 

	<!-- prev link --> 
	<% if @products.count > 1 %>
		<div class="prev_product">Previous</div>
	<% end %>

	<div class="vertical_scrollable"> 
		<div class="items container"> 	
			<% @products.each do |p| %>
	 			<div class="product_shelf">
					<div class="column prepend-top"><%= image_tag p.photo.url(:thumb) %></div>
					<h4 class="product_title"><%= p.title.upcase %></h4>
					<h4 class="product_info column span-8"><%= p.info %></h4>
				<% if logged_in? %>
				<div class="admin_links">
				<%= link_to image_tag("icons/layout_edit.png", :size => "24x24"), edit_product_path(p), :title => "edit product" %>
				<%= link_to image_tag("icons/large_error.png", :size => "24x24"), product_path(p), :title => "remove product",
																															:id => "delete icon",
																															:class  => "delete_icon",
																															:confirm => 'Are you sure?', 
																															:method => :delete %>
				</div>
				<% end -%>
				</div> <!--/ product shelf -->
			<%- end -%>
		</div> <!-- /items -->
	</div> 	 <!-- /vertical -->
	<!-- next link --> 
	<% if @products.count > 1 %>
		<div class="next_product">Next</div>
	<% end %>


	<% end -%>
</div><!-- /products_menu -->