<div class="prepend-1">
	<h2 id="title">Products 
	<% if logged_in? %>
		<%= link_to image_tag("add_service.png"), new_product_url, :title => "add product" -%></h2>
	<% end %>

	<% if @products.empty? %>
	<% unless logged_in? %>
	 <h3> Coming soon... </h3>
	<%- else -%>
	<div class="warning">	
		<h2>There are no products in the database</h2>
		<p>Start by adding a new product</p>
		<p><%= link_to "add new product", new_product_path %></p>		
	</div>
	<% end -%>
	<% else -%>
	

	<!-- navigator --> 
	<div class="navi"></div> 
	
		<div id="actions">
		<a class="prevPage">« Back</a>
		<a class="nextPage">More products »</a>
		</div>
	
	<div class="vertical_scrollable">
	
		
		<div class="items"> 	
			<% @products.each do |p| %>
	 			<div class="product_shelf">
					<%= image_tag p.photo.url(:thumb) %>
					<p class="product_title"><%= p.title.upcase %></p>
					<br/><p class="product_info"><%= p.info %></p>
				<% if logged_in? %>
				<div class="admin_links">
				<%= link_to image_tag("icons/layout_edit.png", :size => "24x24"), edit_product_path(p), :title => "edit product" %>
				<%= link_to image_tag("icons/large_error.png", :size => "24x24"), product_path(p), :title => "remove product",
																															:id => "delete icon",
																															:class  => "delete_icon",
																															:confirm => 'Are you sure?', 
																															:method => :delete %>
				</div>
				<% end -%>
				</div> <!--/ product shelf -->
			<%- end -%>
		</div> <!-- /items -->
	</div> 	 <!-- /vertical -->
	
	
	
	<% end -%>
</div><!-- /products_menu -->