<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>

<%= stylesheet_link_tag "blueprint/screen", :media => "screen, projection" %>
<%= stylesheet_link_tag "blueprint/print", :media => "print" %>
<%= stylesheet_link_tag "blueprint/src/forms", "blueprint/src/typography" %>
<%= stylesheet_link_tag "application", "boxed", "jquery.alert", "jquery.wysiwyg", "services", "stylists", "products", "pictures" %>

<!--[if lt IE 6]><link rel="stylesheet" href="blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
<%= javascript_include_tag "jquery", "jquery.tools.min.ver1.1", "jquery-ui-1.7.1.custom.min", "jquery.wysiwyg", "pixastic.custom_sat", "reflection",  "application" %>

<title>LifeStyle Salon NYC - 822 BroadWay 212-228.5577</title>

<% case controller_name
	 when  "stylists" then @bkg = "salon_back_panoramic.jpg"
	 when  "services" then @bkg = "services_background.jpg"
	 when  "products" then @bkg = "products.png"
	 end -%> 

<% if @bkg.nil? 
	@bkg =  "salon_back_panoramic.jpg"
 end %>


	<% if controller_name == "info" 
			@class = controller.action_name
		 else
			@class = controller_name
		 end
	%>
	
	<script>
	    $(function () {
			$(window).load(function() {
				$('#image_on_stage').removeClass('loading');
				$('#image_on_stage').css('background-image', "url('/images/<%= @bkg %>')");
				$('#see_through_box').fadeIn("slow");			
				});							 
		});		
	</script>
</head>
<body>	
		<div id="main" class="container">
			<div id="header" class="<%= @class %>">		
			<ul id="navbar">
				<li id="home"><%= link_to "Home", root_path, :class => "home" %></li>
				<li id="services"><%= link_to "Services", services_path %></li>
				<li id="stylists"><%= link_to "Stylists", stylists_path %></li>
				<li id="products"><%= link_to "Products", products_path %></li>
				<li	id="pictures"><%= link_to "Gallery",  pictures_path %></li>
				<li id="about_us"><%= link_to "About us", about_us_path %></li>
				<li id="location"><%= link_to "Location", location_path %></li>
			</ul>
		</div>
		
		<div id="stage">	
			<div id="image_on_stage" class="loading">
				<div id="see_through_box" style="display: none;">	
					<div id="inner_content" class="content container">
					
							<ul id="side_links">
								<li id="brazilian"><%= link_to "Brazilian_Keratin", keratin_path %> </li>
								<li><%= link_to "Appointment", appointments_path %></li>
								<li id="specials"><%= link_to "Specials", specials_path %></li>
								<li><%= link_to "Contact_us", contact_us_path %></li>
							</ul>
						
					

					<div class="right"> 
					  <% unless current_user.nil? %>
					    Logged in as: <%= current_user.login %> <%= link_to 'log out', logout_url %>
					
					  <% end %>
					</div>			
					<div id="msg" style="display: none;"></div>
					<%- unless flash[:notice].blank? -%>
						<div class="notification"><h3><%= flash[:notice] -%></h3></div>
					<%- end -%>
							
					<%- unless flash[:error].blank? -%>
						<div class="flash_error"><h3><%= flash[:error] -%></h3></div>
					<%- end -%>
					
			
					
					
							<%= yield %>
						</div>
					</div> <!-- /inner content -->
				</div> <!-- /see throu box -->
				<div id="logo"><%= image_tag("logo.jpg") %></div>
			</div><!-- /image on stage -->
		</div><!-- /stage -->	
		</div><!-- /main -->							
	</body>
</html>
