<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<%= javascript_include_tag "jquery", "jquery.tools.min.ver1.1", "jquery-ui-1.7.1.custom.min", "reflection", "application" %>
<%= stylesheet_link_tag "blueprint/src/reset", :media => "screen, projection" %>
<%= stylesheet_link_tag "blueprint/screen", :media => "screen, projection" %>
<%= stylesheet_link_tag "blueprint/print", :media => "print" %>
<!--[if IE]>
	<link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"/>
	<link href="/iemarginfix/marginfix-styles.css" rel="stylesheet" type="text/css">
	<script src="/iemarginfix/src/IEmarginFix.js" type="text/javascript"></script>
<![endif]-->


<!--[if lt IE 7]>
<script src="/ie7/IE7.js" type="text/javascript"></script>
<![endif]-->


<!--[if lt IE 8]>
<script src="/ie7/IE8.js" type="text/javascript"></script>
<![endif]-->


<%= stylesheet_link_tag "application", 
												"boxed" %>

<title>LifeStyle Salon NYC - 822 BroadWay (212) 228-5577</title>


<!-- set the current tab css by header class -->	
	<% if controller_name == "pages" 
				@class = controller.action_name
			 else
				@class = controller_name
			 end
	%>
	
</head>
	
<body>
		<div class="container">
		  <div id="header" class="span-24">
				<ul id="navbar">
					<li id="home"><%= link_to "Home", root_path, :class => "home" %></li>
					<li id="services"><%= link_to "Services", services_path %></li>
					<li id="stylists"><%= link_to "Stylists", stylists_path %></li>
					<li id="products"><%= link_to "Products", products_path %></li>
					<li	id="pictures"><%= link_to "Gallery",  pictures_path %></li>
					<li id="about_us"><%= link_to "About us", about_us_path %></li>
					<li id="location"><%= link_to "Location", location_path %></li>
				</ul>
			</div>
			
			<div id="stage" class="span-19 last">
				<% unless current_user.nil? %>		
				<ul id="admin_menu_bar" class="span-14">
				   <li>Logged in as: <%= current_user.login %> </li>
				 	 <li>| <%= link_to 'Log out', logout_url %> </li>
					 <% if controller_name == "pages" %>
					 	<li>| <%= link_to "Edit/Show Page", "#", :id => "edit_page"  %> </li>
					 <% end %>
					 <li>| <%= link_to "Pages Manager", manager_path %></li>
					 <li>| <%= link_to "Service Categories", categories_path %></li>
					 <% if controller_name == "pictures" %>
					 <li>| <%= link_to "New gallery picture", new_picture_path  %> </li>
					 <li>| <%= link_to "Gallery Manager", gallery_manager_path  %> </li>				
					 <% end %>					
				 </ul>
				<% end %> 
				
				<div id="image_on_stage" class="span-18">
				<div id="see_through_box">
					<div id="inner_content" class="span-17">
						<%= yield %>
					</div>
				</div> <!-- /see through -->
</div> <!-- /image on stage -->
					<div id="phone" class="footer">212-228-5577</div>
					<div id="address" class="footer"> 822 Broadway - New York, NY 10003</div>		


				
			</div> <!-- /stage -->
			
			
			<div id="logo" class="span-4"></div>	
		</div>		
	<script>
		    $(function () {
				$(window).load(function() {
					$('#image_on_stage').removeClass('loading');
					$('#image_on_stage').css('background-image', "url('<%= @bkg %>')");
					$('#see_through_box').fadeIn("slow");			
					});							 
			});		
		</script>							
</body>
</html>
