<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<%= javascript_include_tag "jquery", "jquery.tools.min.ver1.1", "jquery-ui-1.7.1.custom.min", "reflection", "application" %>

<%= stylesheet_link_tag "blueprint/screen", :media => "screen, projection" %>
<%= stylesheet_link_tag "blueprint/print", :media => "print" %>
<!--[if IE]><link rel="stylesheet" href="blueprint/ie.css" type="text/css" media="screen, projection"/><![endif]-->

<%= stylesheet_link_tag "application", 
												"boxed", 
												"jquery.wysiwyg", 
												"services", "stylists", "products", "pictures" %>

<title>LifeStyle Salon NYC - 822 BroadWay (212) 228-5577</title>


<!-- set the current tab css by header class -->	
	<% if controller_name == "pages" 
				@class = controller.action_name
			 else
				@class = controller_name
			 end
	%>
	
</head>
	
<body>
		<div class="container">
		  <div class="span-23" id="header">
				<ul id="navbar">
					<li id="home"><%= link_to "Home", root_path, :class => "home" %></li>
					<li id="services"><%= link_to "Services", services_path %></li>
					<li id="stylists"><%= link_to "Stylists", stylists_path %></li>
					<li id="products"><%= link_to "Products", products_path %></li>
					<li	id="pictures"><%= link_to "Gallery",  pictures_path %></li>
					<li id="about_us"><%= link_to "About us", about_us_path %></li>
					<li id="location"><%= link_to "Location", location_path %></li>
				</ul>
			</div>
			
			<div class="span-23" id="stage">
				<% unless current_user.nil? %>
				 <ul id="admin_menu_bar">
				   <li>Logged in as: <%= current_user.login %> </li>
				 	 <li>| <%= link_to 'Log out', logout_url %> </li>
					 <% if controller_name == "pages" %>
					 	<li>| <%= link_to "Edit/Show Page", "#", :id => "edit_page"  %> </li>
					 <% end %>
					 <li>| <%= link_to "Pages Manager", manager_path %></li>
					 <li>| <%= link_to "Service Categories", categories_path %></li>
					 <% if controller_name == "pictures" %>
					 <li>| <%= link_to "New gallery picture", new_picture_path  %> </li>
					 <li>| <%= link_to "Gallery Manager", gallery_manager_path  %> </li>				
					 <% end %>					
				 </ul>
				<% end %> 
				
				<div id="image_on_stage" class="span-18 last push-1">
			 		<div id="see_through_box" class="span-17">
						<div id="inner_content">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec auctor enim. Vivamus id odio non quam suscipit fermentum. Donec a massa nulla, et aliquam ligula. Donec laoreet pellentesque dapibus. Duis consequat erat ac felis tempor luctus. Morbi mauris ante, vulputate a semper sed, ultrices ut ante. Etiam facilisis augue vel dui rutrum eget gravida ligula fermentum. Maecenas bibendum porta nulla, a hendrerit felis aliquet a. Donec dapibus augue eros. Praesent egestas tellus nec tortor gravida eu lacinia lectus rhoncus. Fusce neque sapien, tempus et sollicitudin a, dignissim et arcu. Integer nec sollicitudin sapien. Proin dignissim porttitor sapien scelerisque laoreet.

							Aliquam lacus nibh, suscipit a bibendum sed, condimentum non est. Praesent et sem eros. Nunc vel sagittis elit. Vestibulum accumsan lobortis metus, vitae gravida lorem elementum in. Morbi sit amet turpis vitae est consequat faucibus. Sed et iaculis nibh. Nunc dictum condimentum dolor, at tempus massa facilisis ut. Praesent feugiat metus tempor diam blandit sodales. Vestibulum varius imperdiet ipsum, eget dictum purus molestie eget. Proin sed elit neque. Suspendisse quis luctus dolor. Nulla feugiat blandit scelerisque.

							Fusce nisl nibh, egestas vitae condimentum sit amet, tincidunt at magna. Mauris venenatis laoreet ligula, in euismod dui varius non. Nulla fermentum lectus vel turpis gravida sollicitudin. Nunc condimentum lacus at risus dapibus nec tristique felis consequat. Ut porttitor fermentum nulla, fermentum mollis urna placerat a. Praesent lacinia eros euismod sapien sodales porttitor. Curabitur quis lectus nulla. Cras tortor tortor, ultrices vel pellentesque eget, cursus nec justo. In vel accumsan turpis. Integer et tincidunt est. Suspendisse aliquam eleifend diam vitae rutrum. Proin porttitor tincidunt neque sed pellentesque. Duis facilisis aliquam dui, in eleifend justo volutpat gravida.

							Vivamus mi risus, luctus vitae tempor nec, consequat id metus. Donec id est risus. Sed turpis massa, lobortis nec eleifend at, cursus ut metus. Nam ante urna, iaculis consectetur sollicitudin sed, semper ut est. Vivamus ac augue nec nibh facilisis tincidunt. Sed iaculis rhoncus lacus, id faucibus eros aliquam ac. Vivamus purus dolor, lacinia eu volutpat et, molestie vitae metus. Donec id libero eu neque semper vestibulum a vel odio. Integer ac orci turpis, quis varius nibh. Fusce imperdiet interdum pulvinar. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum tortor eu orci tempor faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac magna lacus. Nulla eget metus eros. Praesent nec felis volutpat mauris ornare feugiat ac nec est. Proin tortor risus, placerat non sollicitudin in, tincidunt at quam.

							Fusce fringilla tempus faucibus. Aenean ut justo felis, et ultricies lacus. Aenean a rutrum ipsum. Sed justo quam, vulputate vestibulum pellentesque non, convallis at ligula. Ut quis leo quam, posuere feugiat nulla. Mauris a leo id mi egestas ultricies. Morbi eget odio vel metus hendrerit volutpat nec sed metus. Pellentesque varius tortor eget nisi volutpat dignissim. Duis auctor fringilla augue, quis imperdiet diam facilisis eleifend. Suspendisse semper, mauris nec dictum euismod, nibh nibh hendrerit est, congue lobortis est metus a libero. Etiam viverra eros magna.
						</div>
			 		</div>
						<div id="phone" class="footer">212-228-5577</div>
						<div id="address" class="footer"> 822 Broadway - New York, NY 10003</div>
							
					
			  </div>
				
				<div id="logo" class="span-4 last"></div>
		
			
			</div>
			
		</div>		
	<script>
		    $(function () {
				$(window).load(function() {
					$('#image_on_stage').removeClass('loading');
					$('#image_on_stage').css('background-image', "url('<%= @bkg %>')");
					$('#see_through_box').fadeIn("slow");			
					});							 
			});		
		</script>							
</body>
</html>
